<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html"><b>Home</b></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html"><b>Authors</b></a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.rahulvk.com/resume/"><b>Resume</b></a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.youtube.com/channel/UC3Ez_M6LDv0whyRkz0xdJ7Q"><b>Youtube</b></a>
</li>
